<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel = "icon" href = "https://www.taylorswift.com/files/2022/08/favicon__1_-78x75.png" type = "image/x-icon" sizes = "32x32">
<title>Taylor Swift-Spotify Track</title>
<style>
header{
	font-size:45px;
}
body{
	/*background:url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.6Isa7cddjxqE7rRY79K7-gHaEK%26pid%3DApi&f=1&ipt=91d7ce84a5cba0cb3e1c836c64b010b620820ca699641249fda570d54e9e0619&ipo=images);*/
	/*background:url(https://assets.vogue.com/photos/6358002d8e93a0413a14fa26/16:9/w_640,c_limit/00-promo.gif);*/
	/*background:url(https://assets.vogue.com/photos/5aa7faa085604a74564ec142/16:9/w_640,c_limit/00-promo-image-taylor-swift-delicate-music-video-los-angeles-guide.gif);*/
	/*background:url(https://assets.vogue.com/photos/5f1b215bdd37339048aeb41e/master/w_2240,c_limit/00_story.gif%202240w);*/
	/*background:url(https://assets.vogue.com/photos/58775e2137524ae576dd1810/16:9/w_640,c_limit/taylor-swift-holding-sq.gif);*/
	background:url(https://assets.vogue.com/photos/5891acf38c64075803ad1d2d/master/w_1600,c_limit/Taylor_Gif_01.gif);
	background-repeat: no-repeat;
	background-attachment: fixed;
  	background-size: 100% 100%;
  	font-size:25px;
}
p{
color:pink;
font-size:25px;
}
li{
color:pink;
}
footer{
color:pink;
}
.taylorswift:hover{
-webkit-text-stroke:3px #ff6fff;
color:transparent;
transition:0.5s;
}
#Btn1{
	bottom: 207px;
	position: fixed;
	right: 5px;
    z-index: 90;
    font-size: 10px;
    border: none;
    outline: none;
    background-color: mintcream;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    text-align: center;
}
#Btn1:hover {
  background-color: hotpink;
}
#Btn2{
	bottom: 159px;
	position: fixed;
	right: 5px;
    z-index: 90;
    font-size: 10px;
    border: none;
    outline: none;
    background-color: mintcream;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    text-align: center;
}
#Btn2:hover {
  background-color: hotpink;
}
#Btn3{
	bottom: 111px;
	position: fixed;
	right: 5px;
    z-index: 90;
    font-size: 10px;
    border: none;
    outline: none;
    background-color: mintcream;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    text-align: center;
}
#Btn3:hover {
  background-color: hotpink;
}
#Btn4{
	bottom: 63px;
	position: fixed;
	right: 5px;
    z-index: 90;
    font-size: 10px;
    border: none;
    outline: none;
    background-color: mintcream;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    text-align: center;
}
#Btn4:hover {
  background-color: hotpink;
}
#Btn5{
	bottom: 15px;
	position: fixed;
	right: 5px;
    z-index: 90;
    font-size: 10px;
    border: none;
    outline: none;
    background-color: mintcream;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    text-align: center;
}
#Btn5:hover {
  background-color: hotpink;
}
#TsBtn {
  /*display: none;*/
  position: fixed;
  bottom: 550px;
  right: 5px;
  z-index: 90;
  font-size: 10px;
  border: none;
  outline: none;
  /*background-color: ;*/
  color: white;
  cursor: pointer;
  padding: 1px;
  border-radius: 1px;
}

#TsBtn:hover {
  background-color: hotpink;
}

</style>
</head>
<body>
<header class="taylorswift" style="color:mintcream;">
	<center>
		<i><b>Taylor Swift Spotify Tracks</b></i>
	</center>
</header>
<div>
	<ol>
		<li>
			<p>Taylor Swift (2006)</p>
			<ol>
				<li>
					<p>Our Song</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/1j6gmK6u4WNI33lMZ8dC1s?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
			</ol>
		
		</li>
		<li>
			<p>Fearless (2008)</p>
			<ol>
				<li>
					<p>Mr. Perfectly Fine (Taylor's Version)</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/2CYVETnhM9aytqrazYYwrK?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
				<li>
					<p>You Belong With Me (Taylor's Version)</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/1qrpoAMXodY6895hGKoUpA?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
			</ol>
		
		</li>
		<li>
			<p>Speak Now (2010)</p>
			<ol>
			</ol>
		
		</li>
		<li>
			<p>Red (2012)</p>
			<ol>
				<li>
					<p>I Knew You Were Trouble</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/72jCZdH0Lhg93z6Z4hBjgj?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
				<li>
					<p>Red (Taylor's Version)</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/4OAuvHryIVv4kMDNSLuPt6?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
				<li>
					<p>22</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/3WC5CVAahvn98hiseoIvbw?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
				<li>
					<p>We Are Never Ever Getting Back Together (Taylor's Version)</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/5YqltLsjdqFtvqE7Nrysvs?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
					
				</li>
				
			</ol>
		
		</li>
		<li>
			<p>1989 (2014)</p>
			<ol>
				<li>
					<p>Blank Space</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/1u8c2t2Cy7UBoG4ArRcF5g?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
				<li>
					<p>Bad Blood</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/0TvQLMecTE8utzoNmvXRbK?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
				<li>
					<p>Bad Blood (Rap)</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/6xsEAm6w9oMQYYg3jkEkMT?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
				<li>
					<p>This Love (Taylor's Version)</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/4d1CG5ei1E2vGbvmgf5KKv?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
				<li>
					<p>Wildest Dreams (Taylor's Version)</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/1IxeJLsubGTboNN9K5XNfL?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
				<li>
					<p>Shake It Off</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/0cqRj7pUJDkTCEsJkx8snD?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				<li>
					<p>Style</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/0ug5NqcwcFR2xrfTkc7k8e?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
			</ol>
		
		</li>
		<li>
			<p>Reputation (2017)</p>
			<ol>
				
				<li>
					<p>...Ready For It?</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/2yLa0QULdQr0qAIvVwN6B5?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
				<li>
					<p>Don't Blame Me</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/1R0a2iXumgCiFb7HEZ7gUE?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
				<li>
					<p>Look What You Made Me Do</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/1P17dC1amhFzptugyAO7Il?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
				<li>
					<p>Delicate</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/6NFyWDv5CjfwuzoCkw47Xf?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
				<li>
					<p>End Game</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/2x0WlnmfG39ZuDmstl9xfX?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
				<li>
					<p>Gorgeous</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/1ZY1PqizIl78geGM4xWlEA?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
				<li>
					<p>This Is Why We Can't Have Nice Things</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/07NxDD1iKCHbAldceD7QLP?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
			</ol>
		
		</li>
		<li>
			<p>LOVER (2019)</p>
			<ol>
				<li>
					<p>Lover</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/1dGr1c8CrMLDpV6mPbImSI?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
				<li>
					<p>The Man</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/3RauEVgRgj1IuWdJ9fDs70?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
				<li>
					<p>Me!</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/2Rk4JlNc2TPmZe2af99d45?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
				<li>
					<p>You Need To Calm Down</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/6RRNNciQGZEXnqk8SQ9yv5?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
				<li>
					<p>Miss Americana & The Heartbreak Prince</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/214nt20w5wOxJnY462klLw?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
				<li>
					<p>London Boy</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/1LLXZFeAHK9R4xUramtUKw?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
				<li>
					<p>It's Nice To Have Friends</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/1SmiQ65iSAbPto6gPFlBYm?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
				<li>
					<p>Cruel Summer</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/1BxfuPKGuaTgP7aM0Bbdwr?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
				<li>
					<p>I Forgot That You Existed</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/43rA71bccXFGD4C8GOpIlN?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
				<li>
					<p>Death By A Thousand Cuts</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/2dgFqt3w9xIQRjhPtwNk3D?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
				<li>
					<p>All Of the Girls You Loved Before</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/4P9Q0GojKVXpRTJCaL3kyy?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
				<li>
					<p>Daylight</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/1fzAuUVbzlhZ1lJAx9PtY6?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
				<li>
					<p>Afterglow</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/1SymEzIT3H8UZfibCs3TYi?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
			</ol>
		
		</li>
		<li>
			<p>Folklore (2020)</p>
			<ol>
				<li>
					<p>Cardigan</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/4R2kfaDFhslZEMJqAFNpdd?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
				<li>
					<p>Exile</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/4pvb0WLRcMtbPGmtejJJ6y?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
				<li>
					<p>August</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/3hUxzQpSfdDqwM3ZTFQY0K?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
				<li>
					<p>The 1</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/0Jlcvv8IykzHaSmj49uNW8?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
				<li>
					<p>The Lakes</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/0UAdDYrkCvVQftaKpL6q5f?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
				<li>
					<p>Mirrorball</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/0ZNU020wNYvgW84iljPkPP?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
			</ol>
		
		</li>
		<li>
			<p>Evermore (2020)</p>
			<ol>
				<li>
					<p>Willow</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/0lx2cLdOt3piJbcaXIV74f?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
				<li>
					<p>No Body, No Crime</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/3RaT22zZsxVYxxKR7TAaYF?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
				<li>
					<p>Evermore</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/3O5osWf1rSoKMwe6E9ZaXP?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
				<li>
					<p>Champagne Problems</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/0sY6ZUTh4yoctD8VIXz339?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
			</ol>
		
		</li>
		
		<li>
			<p>Midnights (2022)</p>
			<ol>
				<li>
					<p>Anti Hero</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/0V3wPSX9ygBnCm8psDIegu?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
				<li>
					<p>Karma</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/7KokYm8cMIXCsGVmUvKtqf?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
				<li>
					<p>Bejeweled</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/0jvo9CjnbR0lYUDTSNTMiu?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
				<li>
					<p>Lavender Haze</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/4g2c7NoTWAOSYDy44l9nub?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
				<li>
					<p>You're On Your Own, Kid</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/4D7BCuvgdJlYvlX5WlN54t?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
				<li>
					<p>Snow On The Beach</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/6ADDIJxxqzM9LMpm78yzQG?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
				<li>
					<p>Vigilante Shit</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/1xwAWUI6Dj0WGC3KiUPN0O?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
				<li>
					<p>Question..?</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/6C7OF1Jal7YkyjzyUG8vkK?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
				<li>
					<p>Dear Reader</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/3QF5RsWzK1lCvf2o2cY65P?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
				<li>
					<p>Paris</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/7712gjoih4QoDbXpljEk21?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
				<li>
					<p>High Infidelity</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/5kiZGSxgqPdv6rbqL9THdd?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
				<li>
					<p>Midnight Rain</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/3rWDp9tBPQR9z6U5YyRSK4?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				
				
			</ol>
		
		</li>
		
		<li>
			<p>Others (2006-)</p>
			<ol>
				<li>
					<p>Only The Young</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/2slqvGLwzZZYsT4K4Y1GBC?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				<li>
					<p>I Don't Wanna Live Forever</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/55n9yjI6qqXh5F2mYvUc2y?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
				<li>
					<p>Renegade</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/73W5aXorr5vxrySFcoZqIN?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</li>
			</ol>
		
		</li>
	</ol>

</div>
<div id="TsBtn">
	<img src="https://www.taylorswift.com/files/2022/08/favicon__1_-78x75.png" style="width:30px;"/>
</div>
<br>
<br>
<br>
<div class="btn-group" id="btn-group">
	<a href="/TaylorSwift" style="color:black; font-size:15px; width:48px;" id="Btn1"> Home</a>
	<a href="/TaylorSwift/About" style="color:black; font-size:15px; width:47px;" id="Btn2"> About</a>
	<a href="/TaylorSwift/Albums" style="color:black; font-size:15px;" id="Btn3"> Albums</a>
	<a href="/TaylorSwift/Images" style="color:black; font-size:15px; width:47px;" id="Btn4"> Images</a>
	<a href="/TaylorSwift/SampleAudio" style="color:black; font-size:15px; width:47px;" id="Btn5"> Audio</a>
	
</div>
<footer>
<center>&copy; Narala Jithendra</center>
</footer>
</body>
</html>